.card-body-item{
    min-height: 93px;
}

.card{
    width:100%
}
.innerContainer{
    height: calc(100vh - 90px);
}
.cartContainer{
    height: calc(100vh - 345px);
}

.mat-button-toggle-checked {
   // box-shadow: 0 0 30px #000 !important;
  //border: 1px #000 solid !important;
  //order-radius: 5px !important;
  color:#212529;
  background-color: #adb5bd !important;
}


.mat-button-toggle-checked {
    // box-shadow: 0 0 30px #000 !important;
   //border: 1px #000 solid !important;
   //order-radius: 5px !important;
   width: 150px;
   color:#212529;
   background-color: #adb5bd !important;
 }
 .mat-button-toggle {
    // box-shadow: 0 0 30px #000 !important;
   //border: 1px #000 solid !important;
   //order-radius: 5px !important;
   width: 150px;
   //color:#212529;
   //background-color: #adb5bd !important;
 }

  